// 设置网页安全距离
$min-width:1226px;

// 常规字体大小设置
$fontA: 80px; // 超大标题
$fontB: 30px;
$fontC: 20px; // 按钮文字
$fontD: 16px; // 普通文字大小
$fontE: 12px; // 辅助文字大小

// 常规配色
$summerTheme: #3893c9 !default; // 夏日海洋
$autumnTheme: #f3c741 !default; // 金秋
$springTheme: #6fdb8f !default; // 复苏之春
$winterTheme: #d4e0dc !default; // 白雪的の冬
$colorA: #ff6600 !default;  
$colorB: #333333 !default; // 普通文字
$colorC: #666666 !default; // 辅助文字
$colorD: #999999 !default; 
$colorE: #ffffff !default; // 背景